<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Mapbox API CDN -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.css' rel='stylesheet' />
    <!-- Our CSS and JS -->
    <link rel="stylesheet" href="/static/css/master.css">
    <title>Demo</title>
  </head>
  <body>
    <div id='map'</div>

    <!-- JS Scripts -->
    <script src="/static/js/script.js" charset="utf-8"></script>
  </body>
</html>
